body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Verdana";
    background: url("../background.jpg");
}
.form-holder {
    position: fixed;
    top: 1%;
    left: 10%;
    width: 80%;
}
.form-holder h1 {
    text-align: center;
}
.form-holder p {
    font-size: 30px;
}
.form-holder .contents-center {
    width: 100%;
    margin-left: 33.3%;
}
.form-holder .form-container {
    background: transparent;
}
.form-holder .form-container .elements {
    background: transparent;
}
.form-holder .errors {
    color: red;
    list-style: none;
}
.form-holder .choose {
    background: transparent;
    /*border: solid 2px;*/
    border-radius: 0%;
    left: 40px;
    /*width: 200px;*/
}
.form-holder .btn {
    background: transparent;
    border: solid 2px;
    border-radius: 0%;
    left: 40px;
    width: 100px;
}
.form-holder .btn:hover {
    cursor: pointer;
    opacity: 50%;
}
.form-holder .output-container .output-field {
    background: transparent;
    font-size: 20px;
    border: none;
    width: 50%;
    height: 300px;
    resize: none;
}
.form-holder .output-container .output-field {
    background: transparent;
    font-size: 20px;
    border: none;
    width: 50%;
    height: 300px;
    resize: none;
}
.form-holder .output-container .output-field:focus {
    border: none;
    outline: none;
}