<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Remove Contractions</title>
</head>
<body>
    <div class="form-holder">
        <h1>Remove Contractions</h1>
        <p>This simple application takes a file containing written words and replaces any contractions found with their full form. Currently only text files are supported. Just select the file and click uncontract. Max file size is 20MB, anything bigger will close the server.</p>
        <div class="contents-center">
            <form class="form-container" action="http://localhost:5000/uploader" method="POST"
                 enctype="multipart/form-data">
                 <input class="choose" type="file" name="file" />
                 <input class="btn" type="submit" value="Uncontract"/>
            </form>

            <p class="output-container">
                {% if result != None %}
                <textarea readonly class="output-field">{{ result }}</textarea>
                {% endif %}
            </p>
        </div>

    </div>

</body>
</html>